/* Start Global Settings */

:root {
	--first-color: #092753;
	--first-alt-color: #0e176b;
	--sec-color: #FBA834;
	--third-color: #387ADF;
	--fourth-color: #50C4ED;
	--white: #eeeeee;
	--black: #252525;
	--bg-color: #FFECD2;
	--font-main: "Cairo", sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	margin: 0 !important;
	padding: 0 !important;
}

*,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-main);
	direction: rtl;
	overflow-x: hidden;
	background-color: var(--bg-color);

}

body::-webkit-scrollbar,
.mainbg::-webkit-scrollbar {
	background-color: var(--bg-color);
	width: 10px;
}

body::-webkit-scrollbar-thumb,
.mainbg::-webkit-scrollbar-thumb {
	background: var(--first-color);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.row {
	margin: 0;
}

/* End Global Settings */


/* Start Navbar Settings */
.pre-header {
	background-color: var(--bg-color);
	height: 30px;
	padding: 0px 40px;
	font-size: 16px;
	font-weight: 600;
}

.pre-header ul li a {
	color: var(--black);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.pre-header ul li a:hover {
	color: var(--first-alt-color);
	font-weight: 600;
}

.navBar {
	background-color: var(--first-color);
	height: 60px;
}

.cart-navbar,
.user-navbar,
.seller {
	cursor: pointer;
}

.cart-navbar::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 13%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	width: 1px;
	height: 25px;
	background-color: #ffffff77;
}

.cart-title,
.user-title {
	color: var(--white);
	font-size: 16px;
	font-weight: 500;
}

.cart-amount {
	color: var(--sec-color);
	font-size: 15px;
	font-weight: 400;
}

.user-log {
	font-size: 11px;
	color: var(--white);
	font-weight: 400;
}

@media (max-width:1122px) {
	.cart-navbar::after {
		left: 5%;
	}
}

@media (max-width:1080px) {
	.user-log {
		font-size: 9px;
	}
}

@media (max-width:992px) {

	.cart-title,
	.user-title {
		font-size: 12px;
	}

	.cart-amount {
		font-size: 11px;
	}

	.user-log {
		font-size: 7px;
	}

	.cart-navbar::after {
		left: -1%;
	}
}

@media (max-width:768px) {
	.cart-navbar::after {
		display: none;
	}
}

.search-btn {
	background-color: var(--sec-color);
	outline: none;
	border: none;
	width: 45px;
	height: 45px;
}


.search-input-navbar {
	height: 45px;
	padding: 0px 10px;
	border: none;
	width: 100%;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-ms-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
}

.search-input-navbar:focus,
.search-input-navbar:active {
	border: none;
	outline: none;
}

.logo-navbar .navbar-brand img {
	height: 45px;
	object-fit: cover;
}

.filter-bar {
	background-color: var(--white);
	height: 40px;
}

.all-categories:focus,
.all-categories:active {
	box-shadow: none !important;
}

.filter-bar-items {
	justify-content: end;
}

.filter-bar-items .nav-item a {
	color: var(--first-color) !important;
	font-size: 16px;
	font-weight: 600;
}

.filter-bar-items .nav-item a:hover {
	color: var(--sec-color) !important;
}

.all-categories {
	color: var(--sec-color);
	font-size: 20px;
	font-weight: 600;
}

.navbar-toggler-icon svg {
	padding-top: 5px;
	color: var(--sec-color);
}

.navbar-toggler-icon svg:focus,
.navbar-toggler-icon svg:active,
.navbar-toggler:focus {
	box-shadow: none !important;
}

.navbar-collapse.collapse.show {
	position: absolute;
	left: 3px;
	top: 90%;
	width: 50%;
	z-index: 5;
	background-color: var(--white);
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.collapsing {
	-webkit-transition: none;
	transition: none;
	display: none;
}

/* End Navbar Settings */


/* Start Hero Section */
.hero {
	background-color: var(--bg-color);
	position: relative;
}

.carousel-item {
	position: relative;
}

.carousel-item img {
	object-fit: cover;
	height: calc(100vh - 130px);
	width: 100vw !important;
}

.carousel-item::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(farthest-side, #0927537c, #092753d7);
}

.carousel-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--white);
	z-index: 4;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.carousel-item-content {
	width: 70%;
}

.carousel-content h3 {
	font-weight: 900;
	font-size: 50px;
}

.carousel-content h2 {
	font-weight: 900;
	font-size: 70px;
}

.carousel-content h5 {
	letter-spacing: 1px;
	color: var(--sec-color);
}

.hero-cta {
	padding: 8px 15px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	color: var(--black);
	background-color: var(--sec-color);
	font-size: 20px;
	font-weight: 700;
	border: none;
}

.hero-img {
	width: 100%;
}

.hero-img .carousel-content-img {
	width: 400px !important;
	height: unset;
	object-fit: cover;
}

@media (max-width:1150px) {
	.hero-img {
		margin-right: -40px;
	}

	.carousel-content h2 {
		font-size: 50px;
	}
}

@media (max-width:992px) {
	.hero-img {
		display: none !important;
	}

	.carousel-item-content {
		width: 100%;
		padding: 0 10px;
	}

	.carousel-item-content h3 {
		font-size: 40px;
	}

	.carousel-item-content h4 {
		font-size: 20px;
	}

	.carousel-content h2 {
		font-size: 40px;
	}
}

@media (max-width:700px) {
	.carousel-content {
		width: 100%;
	}

	.carousel-content h3 {
		font-size: 30px;
	}

	.carousel-content h4 {
		font-size: 18px;
	}
}

@media (max-width:500px) {
	.carousel-item-content h3 {
		font-size: 28px;
	}

	.carousel-item-content h4 {
		font-size: 14px;
	}
}

.carousel-control-prev,
.carousel-control-next {
	z-index: 10;
}

/* End Hero Section */

/* Start Categories Section */
#Categories {
	background-color: var(--white);
	padding-block: 80px;
}

.section-title-name {
	font-size: 22px;
	font-weight: 700;
	color: var(--first-color);
}

.section-title-link a {
	text-decoration: underline;
	color: var(--first-alt-color) !important;
	font-size: 16px;
	font-weight: 700;
}

.category-card {
	background-color: var(--first-color);
	overflow: hidden;
	position: relative;
	aspect-ratio: 1/1;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.2);
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	cursor: pointer;
}

.category-card:hover {
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
}

.category-card::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: linear-gradient(to top, #092753, rgba(0, 0, 0, 0));
	z-index: 2;
}

.category-card>img {
	object-fit: cover;
	width: 160%;
	position: relative;
	z-index: 1;
}

.category-name {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: var(--white);
	font-size: 22px;
	font-weight: 700;
	z-index: 3;
}

/* End Categories Section */

/* Start Advertisment Section */
#Advertisment {
	background-image: url("../images/herocarousel1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}

#Advertisment::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #092753b0;
}

#Advertisment .container {
	z-index: 12;
	position: relative;
}

.ad-title {
	color: var(--sec-color);
	font-weight: 900;
	font-size: 30px;
}

.ad-subtitle {
	color: var(--white);
	font-size: 25px;
	font-weight: 700;
}

.ad-img {
	height: 400px;
	overflow: hidden;
}

.ad-img img {
	width: 50%;
	object-fit: cover;
}

@media (max-width:1199px) {
	.ad-img img {
		width: 60%;
	}
}

@media (max-width:992px) {
	.ad-img img {
		width: 100%;
	}
}

/* End Advertisment Section */

/* Start Offers Section */
.card-wrapper {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.img-container {
	position: relative;
}

.img-container>img {
	width: 100%;
	object-fit: cover;
}

.card-wrapper .fav-icon {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: #0927531a;
	padding: 10px 15px;
	border-radius: 100px;
	transition: 300ms;
}

.card-wrapper .fav-icon:hover {
	background-color: var(--first-alt-color);
	cursor: pointer;

	.fa-heart {
		color: var(--white);
	}
}

.card-wrapper .fav-icon.active {
	background-color: var(--first-alt-color);
	cursor: pointer;

	.fa-heart {
		color: var(--white);
	}
}

.seller {
	color: var(--first-alt-color);
}

.seller-name {
	font-size: 1.1rem;
	font-weight: 700;
}

.prod-name {
	font-size: 1rem;
	font-weight: 600;
}

.price .current {
	font-size: 1.5rem;
	font-weight: 800;
	color: var(--sec-color);
}

.price .offer {
	color: var(--sec-color);
	text-decoration: line-through;
	font-size: 1.1rem;
	font-weight: 500;
}

.rating {
	color: var(--first-alt-color);
}

.rating .fa-star:not(.checked) {
	opacity: 0.3;
}

@media (max-width:767px) {
	.prodlist-main .row {
		gap: 10px;
	}

	.prodlist-main .products {
		justify-content: center;
	}
}

/* End Offers Section */


/* Start Trending Products Section */
.swiper {
	padding-block: 10px;
}

.slide-container {
	margin: 0 10px;
	overflow: hidden;
}

.swiper-navBtn {
	color: #000;
	height: 30px;
	width: 30px;
	background: var(--sec-color);
	border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
	font-size: 12px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 0px !important;
}

.swiper-pagination-bullet {
	background-color: var(--first-alt-color);
}



/* End Trending Products Section */


/* Start Advertisment Two Section */

#Advertisment-Two {
	background-image: url("../images/herocarousel3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}

#Advertisment-Two::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #092753b0;
}

#Advertisment-Two .container {
	z-index: 12;
	position: relative;
}


.seller-card {
	width: 100%;
	background-color: var(--white);
	border-radius: 5px;
	overflow: hidden;
	outline: 2px solid transparent;
	transition: 0.3s;
	cursor: pointer;
}

.seller-card:hover {
	transform: translateY(-3px);
}

.seller-card .img-container {
	width: 100%;
	height: 100px;
	background-color: aqua;
	position: relative;
}

.seller-card .seller-pic {
	outline: 3px solid var(--bg-color-minus100);
	position: absolute;
	right: 10%;
	bottom: -40%;
	width: 80px;
	height: 80px;
}

.seller-card .card-details {
	width: 100%;
	height: 150px;
	padding: 20px 10px;
	justify-content: center;
}

.seller-card .seller-categories a {
	color: black;
	margin: 0 2px;
	transition: 0.3s;
}

.seller-card .seller-categories a:hover {
	color: var(--sec-color);
}

.seller-card .seller-categories a::after {
	content: ',';
}

.swiper-pagination-two {
	position: absolute;
	text-align: center;
	bottom: 10px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
	background-color: var(--sec-color);
	margin: 0 5px;
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	background-color: var(--sec-color);
}

.swiper-button-two-prev,
.swiper-button-two-next {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--black);
	font-size: 18px;
}



.swiper-button-prev::before,
.swiper-button-next::before {
	content: '';
}

.swiper-button-two-prev {
	left: 10px;
}

.swiper-button-two-next {
	right: 10px;
}

/* End Advertisment Two Section */

/* Start Contact Section */

.sec-title {
	position: relative;
	padding-bottom: 40px
}

.sec-title .title {
	position: relative;
	color: var(--sec-color);
	font-size: 18px;
	font-weight: 700;
	padding-right: 50px;
	margin-bottom: 15px;
	display: inline-block;
	text-transform: capitalize
}

.sec-title .title:before {
	position: absolute;
	content: '';
	right: 0;
	bottom: 7px;
	width: 40px;
	height: 1px;
	background-color: var(--sec-color);
}

.sec-title h2 {
	position: relative;
	color: var(--first-color);
	font-size: 36px;
	font-weight: 800;
	line-height: 1.5em;
	display: block
}

.sec-title.light h2 {
	color: #fff
}

.contact-page-section {
	position: relative;
	padding-top: 110px;
	padding-bottom: 110px;
}

.contact-page-section .inner-container {
	position: relative;
	z-index: 1;
	background-color: var(--first-color);
	box-shadow: 0 0 15px 5px rgba(9, 53, 134, 0.322)
}

.contact-page-section .form-column {
	position: relative;
	padding: 0 0 0 15px
}

.contact-page-section .form-column .inner-column {
	position: relative;
	padding: 60px 45px 30px;
	background-color: #fff
}

.contact-page-section .info-column {
	position: relative
}

.contact-page-section .info-column .inner-column {
	position: relative;
	padding: 60px 20px
}

.contact-page-section .info-column h2 {
	position: relative;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.4em;
	margin-bottom: 45px
}

.contact-page-section .info-column .list-info {
	position: relative;
	margin-bottom: 60px
}

.contact-page-section .info-column .list-info li {
	position: relative;
	margin-bottom: 25px;
	font-size: 20px;
	color: #fff;
	line-height: 1.8em;
	padding-left: 45px
}

.contact-page-section .info-column .list-info li:hover {
	color: var(--sec-color);
}

.contact-page-section .info-column .list-info li:last-child {
	margin-bottom: 0
}

.contact-page-section .info-column .list-info li i {
	position: absolute;
	left: 0;
	top: 8px;
	color: #fff;
	font-size: 30px
}

.contact-form {
	position: relative
}

.contact-form .form-group {
	position: relative;
	margin-bottom: 20px
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
	position: relative;
	display: block;
	width: 100%;
	height: 60px;
	color: var(--black);
	font-size: 14px;
	line-height: 38px;
	padding: 10px 30px;
	border: 1px solid #ddd;
	background-color: #fff;
	transition: all .3s ease;
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease
}

.contact-form input:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
	border-color: var(--sec-color)
}

.contact-form textarea {
	height: 250px;
	resize: none
}

.contact-form .theme-btn {
	font-size: 14px;
	font-weight: 700;
	margin-top: 10px;
	padding: 16px 39px;
	position: relative;
	line-height: 24px;
	cursor: pointer;
	color: var(--white);
	background-color: var(--first-color);
	border: 4px solid var(--first-color);
	border-radius: 10px;
}

.contact-form .theme-btn:hover {
	background-color: var(--white);
	border: 4px solid var(--first-color);
	transition: 500ms;
	color: var(--first-color);
}

.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
	border-color: red !important
}

.contact-form label.error {
	display: block;
	line-height: 24px;
	padding: 5px 0 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 12px;
	color: red;
	font-weight: 500
}

.social-icon-four {
	position: relative
}

.social-icon-four li {
	position: relative;
	margin-right: 18px;
	display: inline-block
}

.social-icon-four li.follow {
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	display: block;
	margin-bottom: 20px
}

.social-icon-four li a {
	position: relative;
	font-size: 20px;
	color: #fff;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease
}

.social-icon-four li a:hover {
	color: var(--sec-color)
}

@media (max-width:992px) {
	.contact-page-section .info-column .list-info li {

		font-size: 16px;

	}
}

/* End Contact Section */


/* Start Footer Settings */
#Footer {
	background-color: var(--first-color);
}

#Footer h6 {
	margin-bottom: 15px;
	color: var(--sec-color);
	font-size: 18px;
}

.links a,
.footer-links {
	color: var(--white);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.links a:hover,
.footer-links:hover {
	color: var(--sec-color) !important;
	padding-right: 10px;
}

.footerTop {
	background-color: var(--first-color);
}

.footerBottom {
	background-color: var(--black);
	color: var(--white);
}

/* End footer Settings */