/* .aud img {
	width: 104%;
	height: 499px;
	position: relative;
	bottom: 12%;
} */

.linkedin-container {
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 700;
	background-color: var(--first-color);
	margin-top: 60px;
}

.profile-image-wrapper {
	background-color: var(--first-color);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}


.profile-header {
	color: DimGray;
	font-size: 24px;
	font-weight: 900;
	padding-bottom: 5px;
}

.btn-edit,
.btn-save {
	width: 100%;
	color: white;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding-top: 3px;
	background-color: var(--first-color);
	border-radius: 10px;
	cursor: pointer;
	padding-block: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	border: none;
}

.btn-edit:hover {
	background-color: var(--sec-color);
}


.first-name-label,
.last-name-label,
.email-label,
.profile-title-label {
	color: var(--first-color);
	font-size: 14px;
	font-weight: 700;
}

.first-name,
.last-name,
.profile-title,
.email {
	background-color: #fcf3e7;
	color: var(--first-color);
	font-size: 16px;
	font-weight: 900;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 7px;
	margin-bottom: 20px;
	margin-top: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}


.first-name-input-container,
.last-name-input-container,
.email-input-container,
.profile-title-input-container {
	padding-block: 5px;
}

#first-name-input,
#last-name-input,
#email-input,
#profile-title-input {
	width: 100%;
	font-size: 16px;
	color: var(--first-color);
	padding-left: 19px;
	padding: 10px 20px;
	border: 3px solid var(--sec-color);
	border-radius: 5px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}


.popover {
	width: 160px;
}

.profile-panel::-webkit-input-placeholder {
	color: grey;
	font-weight: 700;
}

profile-panel:-moz-placeholder {
	color: grey;
	font-weight: 700;
}

profile-panel::-moz-placeholder {
	color: grey;
	font-weight: 700;
}

profile-panel:-ms-input-placeholder {
	color: grey;
	font-weight: 700;
}

.title-hero {
	margin-top: 100px;
	margin-bottom: 40px;
}

.nav-item:hover .bi {
	fill: rgba(0, 0, 0, 0.7);
}

.form-control:hover {
	border: 1px solid #2462ff;
	box-shadow: 0 0 0
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #2462ff;
	box-shadow: none;
	outline: 0 none;
}

.form-control:focus {
	box-shadow: none;
	border-color: #2462FF;
}

.form-perso-data h3 {
	margin-bottom: 16px;
}

.form-perso-data {
	background-color: #BDF0E8;
	padding: 16px;
	border-radius: 4px;
	box-shadow: 0px 4px 10px #0000004d;
	margin-bottom: 60px;
}

.col-2 {
	display: flex;
	justify-content: center;
}

.edit-photo-profile {
	width: 32px;
	height: 32px;
	background-color: #2462FF;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.edit-photo-profile:hover {
	background-color: #457aff;
}

.nav-item {
	display: flex;
	flex-direction: column;
	gap: 0px;
	justify-content: center;
	align-items: center;
}

.photo-profile {
	width: 130px;
	height: 130px;
	background-image: url('https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg');
	background-position: center;
	background-size: contain;
	border-radius: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.photo-profile:hover {
	opacity: 0.9;
}

.flex-form-check {
	display: flex;

}

.form-check input[type="checkbox"] {
	display: none;
}

.form-check label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #FFF;
	height: 90px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}

.form-check label:hover {
	border-color: #2462FF;
	background-color: #f2f6ff;
}

.form-group input[type="file"] {
	display: none;
}



.avatar-upload {
	position: relative;
	/* right: 415px; */
	/* bottom: 25px; */
	max-width: 205px;
	margin: 60px auto;
}

.avatar-upload .avatar-edit {
	position: absolute;
	right: 11px;
	z-index: 1;
	top: 10px;
}

.avatar-upload .avatar-edit input {
	display: none;
}

.avatar-upload .avatar-edit input+label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #FFFFFF;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
	background: #f1f1f1;
	border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
	content: "\f040";
	font-family: 'FontAwesome';
	color: var(--sec-color);
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
}

.avatar-upload .avatar-preview {
	width: 192px;
	height: 192px;
	position: relative;
	border-radius: 100%;
	border: 6px solid var(--first-color);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}